<div class="modal-header">
  <h3 class="modal-title">Guardando Caripela</h3>
</div>
<div class="modal-body">
  <p>
    Desde aquí vas a poder publicar y compartir tu caripela en nuestra
    galería colaborativa.

  <p>
     <strong> ¿Querés publicar la caripela que hiciste?</strong>

</div>

<div class="modal-footer">
  
  <span ng-show='guardando'>
    <img  src='/imagenes/guardando.gif'>
    <span>Guardando </span>
    &nbsp;
  </span>

  <button ng-disabled='guardando' class="btn btn-success" ng-click="publicar()">Sí, quiero publicarla</button>
  <button ng-disabled='guardando' class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>
