<div class="navbar navbar-inverse navbar-huayra">
  <div class="navbar-header navbar-header-huayra">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand navbar-brand-huayra"><img src='imagenes/icono.png'> huayra caripela</span>
  </div>
</div>

<div class='mensaje-cantidad'>¡Hola, ya se publicaron {{data.cantidad_caripelas}} caripelas aquí!</div>

<div class="selector">

      <ul class="clearing-thumbs" data-clearing="" style="">
        <li><a ng-click='crear_avatar()' href class="th objeto"><img class='resize_fit_center' src='imagenes/crear_caripela.png'></a></li>
        <li ng-repeat='obj in data.caripelas'  class='objeto'>
          <button ng-click='abrir_avatar(obj)'><img class='resize_fit_center' ng-src="caripelas/{{obj.ruta}}/preview.png"></button>
        </li>

      </ul>
</div>
